body {
    font-family: "Montserrat";

}

h1,
h6 {
    text-transform: uppercase;
    font-weight: bolder;
}



/* Navigation Bar */


.navbar {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
}


.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
}



/* Home section */

.container-fluid {
    padding: 1% 13%;
    line-height: 2.5;

}

#home {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/home-image.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.home-text {
    text-transform: uppercase;
    padding: 20% 10%;
    color: white;
    text-align: center;
}

/* about us section */
#about-us {
    padding: 4.5%;
    text-align: center;
}

.about-decor {
    font-size: 50px;
    background: -webkit-linear-gradient(#eee, rgba(172, 1, 1, 0.646));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Service section */

#services-1 {
    padding: 10%;
    background-color: #e4e3e3;
    background-image: url(/images/service.png);
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100%;
    
}

#services-2 {
    padding: 5% 3% 0%;
    line-height: 2.5;
   
}

#services-3 {
    padding: 5% 3% 0%;
    line-height: 2.5;
  
}

#services-4 {
    padding: 5% 3% 0%;
    line-height: 2.5;
   
}

#services-5 {
    padding: 5% 3% 5%;
    line-height: 2.5;
    
}


.service-box {
    text-align: center;

}

.icon {
    color: #4D4C78;
    margin-bottom: 1rem;
}

.icon2 {
    color: #4D4C78;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.icon3 {
    color: #4D4C78;
    margin-bottom: 1rem;
    margin-top: 7rem;
}

.icon4 {
    color: #4D4C78;
    margin-bottom: 1rem;
    margin-top: 6rem;
}

.icon:hover {
    color: #C92020;
}

.icon2:hover {
    color: #C92020;
}

.icon3:hover {
    color: #C92020;
}

.icon4:hover {
    color: #C92020;
}

.btn {
    margin-bottom: 1rem;
}

/* Contact Section  */

#contact {
    padding: 5% 0% 3%;
    /* background-image: url(/images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    color: #4D4C78;
    font-weight: bolder;

    background-color: #f3e6e8;
    background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);

}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}


a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}

.external-link {
    color: SeaGreen;
}



/* Footer section */

#footer {
    text-align: center;
    background-color: #4D4C78;
    color: white;
    padding: 1% 0% 0%;

}

.social-icon {
    margin: 7px 10px;
}